@tailwind base;
@tailwind components;
@tailwind utilities;


.btn{
    width: 200px;
    height: 40px;
    border: 1px slategray solid;
    border-radius: 10px;
    
}#item-prev{
    border-radius: 10px;
}img{
    border-radius: 5px;
}