@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------------------------ToC--------------------------
1.- Root
2.- Nav
3.- Home
4.- form
.- Buttons
.- */

/*1.- Root*/
.root{
    width: 100%;
}*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}body{
    max-width: 100vw;
}
/*-------------------Button*/
.btn{
    width: 200px;
    height: 40px;
    border: 1px slategray solid;
    border-radius: 10px;
    background-color: rgb(60, 60, 156);
    color: wheat;
    
}#item-prev{
    border-radius: 10px;
}img{
    border-radius: 5px;
}
/*----Form----------*/
#register-form{
    width:auto;
    align-items: end;
    padding: 20px;

}#register-wrapper{
    width: auto;
    padding: 20px;
}